ul{
    display: flex;
    list-style: none;
}
li {
    margin-right: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}
ul li a {
    text-decoration: none;
    color: #1c1c1c
}
a:hover {
    color: #0099FF;
}
h1 {
    color: #0099FF;
}
div#Admin {
    background-color: red;
}
