h3, h5{
    /* color: #192A56; */
    /* color: #f5f5f5; */
}

.footer{
    display: flex;
    background: #0099FF;
    color: white;
}

.footer-intro-content {
    text-align: center;
}

.footer-intro {
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 13px;
}
.footer-title {
    font-weight: 900;
}
/*  */
#re-top{
    z-index: 100px;
    position: fixed;
    right: 10px;
    bottom: 5px;
    padding: 10px;
    color: #ed4190;
    /* background-image: url("images/top.png"); */
}
.footer-nav a{
    color:white;
}
